@media(max-width:1200px) {
    body {
        background-color: rgb(24, 24, 24);
    }

    .video-fundo {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        height: auto;
    }

    .container .farm {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column
    }
}

@media(max-width:500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .container .imagem-stardew{
        max-width: 50%;
    }
    .modal fechar-modal{
        width:30px;
        line-height: 30px;
    }
    .modal #video{
        width:300px;
        height: 120px;
    }

}

@media(max-width:376px){
    .modal #video{
        width:250px;
        height:140px;
    }
}